/*$primary1:#000000;
$primary2:#ffffff;
$primary3:#bbbbbb;
$text-align:center;
body {
    background-color: $primary1;
    color: $primary2;
    text-align: $text-align;
}

.div1 h1{
    color: $primary3;
}
*/
//===== First Saas Example =====//
$myfontfamily:Helvetica, sans-serif;
$myfontsize:18px;
$mycolor:red;
$mywidth:150px;

.body1 {
    font-family: $myfontfamily;
    font-size: $myfontsize;
    color: $mycolor;
}

#container {
    width: $mywidth;
}


//===== Sass Variable Scope =====//
$color1:red;

.one {
    $color1:green;
    color:$color1;
}

.two {
    color: $color1;
}


//===== !global =====//
$color2:red;

.three {
    $color2:green !global;
    color: $color2;
}

.four {
    color: $color2;
}


//===== Sass Nested Rules =====//
nav {
    ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
    }
    li {
        display: inline-block;
    }
    a {
        display: block;
        padding: 6px 12px;
        text-decoration: none;
    }
}